[submodule "UsersCloudConfigServer"]
	path = UsersCloudConfigServer
	url = https://github.com/nitinkc/UsersCloudConfigServer.git
[submodule "UsersEurekaDiscoveryService"]
	path = UsersEurekaDiscoveryService
	url = https://github.com/nitinkc/UsersEurekaDiscoveryService.git
[submodule "UsersAPI"]
	path = UsersAPI
	url = https://github.com/nitinkc/UsersAPI.git
[submodule "user-password-reset-microservice"]
	path = user-password-reset-microservice
	url = https://github.com/nitinkc/user-password-reset-microservice.git
[submodule "CentralizedConfiguration"]
	path = CentralizedConfiguration
	url = https://github.com/nitinkc/CentralizedConfiguration.git
[submodule "UsersAPIGateway"]
	path = UsersAPIGateway
	url = https://github.com/nitinkc/UsersAPIGateway.git
[submodule "SharePortfolio"]
	path = SharePortfolio
	url = https://github.com/nitinkc/SharePortfolio.git
